### Practicing with Pandas

I don't really follow pokemon, but was following a video tutorial to flesh out my experience with pandas outside of class. The dataset is taken from the github of the youtube tutorial, but is also found on kaggle as an easy beginner dataset.

In [2]:
import pandas as pd

df = pd.read_csv('pokemon_data.csv')

### Sorting/Describing

In [3]:
# Finding data by location
#df.loc[df['Type 1'] == "Ghost"]

# This gives the count, mean, std and quartiles etc for all columns
#df.describe()

# Sorting by name, use ascending True/False as needed
#df.sort_values('Name', ascending=True)

# adding multuple sorts and telling it to sort ascending for one and descending for the other
df.sort_values(['Type 1', 'HP'], ascending=[1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

### Making changes

In [4]:
# adding a column to total the "stats"
# df["Total"] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

# # To drop a column:
# df = df.drop(columns=['Total'])

# Short version of adding a column as per above: 
# the .sum at the end adds the indicated columns and the (axis=1) means to sum horizontally - 0 is vertical
df['Total'] = df.iloc[:, 4:10].sum(axis=1)

# group the columns into a list
cols = list(df.columns)

# reorganise the columns to Total appears in a new spot - put cols[-1] in brackets to make it a str/list
df = df[cols[0:4] + [cols[-1]]+cols[4:12]]

df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

### Saving and exporting to desired format

In [5]:
df.to_csv('updated_poke.csv', index=False)

# if excel is needed, use .to_excel with appropriate file extension

# To create tab separated txt file
# df.to_csv('updated_poke.txt', index=False, sep='\t')

### Filtering data

In [6]:
# Sorting by multiple columns:
# df.loc[(df['Type 1'] =='Grass') & (df['Type 2'] =='Poison')]

# "or" can be used as well by using | from within the dataframe

# numeric conditions can also be used:
# df.loc[(df['Type 1'] =='Grass') & (df['Type 2'] =='Poison') & (df['HP'] >70)]

# a new dataframe can be made with just those parameters:
new_df = df.loc[(df['Type 1'] =='Grass') & (df['Type 2'] =='Poison') & (df['HP'] >70)]

# since a new Df was, made reset the index so the filtered data isn't using old indexing:
# new_df = new_df.reset_index()
# shorter version of above code:
new_df.reset_index(drop=True, inplace=True)

new_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
1,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
2,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False
3,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False
4,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False

### More filtering data

In [15]:
# filtering out part of a name, Mega for instance:
# df.loc[df['Name'].str.contains('Mega')] #lists all names with "Mega"

# import reg ex for further sorting and filtering
import re

# df.loc[~df['Name'].str.contains('Mega')] # the ~ removes the names containing "Mega"

# df.loc[df['Type 1'].str.contains('Fire|Grass', flags=re.I, regex=True)] # pipe symbol means "or" - re.i is a flag to ignore case

# search names starting with particular letters
df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)] # ^ symbol means to start at beginning of line

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,290,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,450,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,314,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,264,50,55,50,36,30,43,5,False

### Conditional changes

In [22]:
# changing the name of a type under type 1 to something else.
# df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'Flamey'

# Changing it back to Fire
df.loc[df['Type 1'] == 'Flamey', 'Type 1'] = 'Fire'

# change all fire types are legendary
# df.loc[df['Type 1'] == 'Fire', 'Legendary'] = True

# change multiple columns by creating a list
# df.loc[df['Total'] > 500, ['Generation', 'Legendary']] = 'AWESOME'
# df.loc[df['Total'] > 500, ['Generation', 'Legendary']] = ['Test 1', 'Test 2']

df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,type 1
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,NaN
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,NaN
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,AWESOME,AWESOME,NaN
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,AWESOME,AWESOME,NaN
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Flamey

### Aggregate Statistics (groupby)

In [32]:
# Check the averages of all type 1
# df.groupby(['Type 1']).mean()
# df.groupby(['Type 1']).mean().sort_values('HP', ascending=False)

# df.groupby(['Type 1']).sum()
# create a count column so it can count properly
df['Count'] = 1

# df.groupby(['Type 1']).count()['Count']

# add type 2 as well
df.groupby(['Type 1', 'Type 2']).count()['Count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: Count, Length: 136, dtype: int64

### Working with large amounts of data

In [36]:
# for excessively large datsets/csv's you can reduce the memory usage with the chunksize command to specific the amount of rows
# this will effectively load the dataframe in "chunks" of 5

# for df in pd.read_csv('updated_poke.csv', chunksize=5):
#     print("CHUNK DF")
#     print(df)

# create a new df with the same columns, but filled with specific info
new_df = pd.DataFrame(columns=df.columns)

for df in pd.read_csv('updated_poke.csv', chunksize=5):
    results = df.groupby(['Type 1']).count()
    
    new_df = pd.concat([new_df, results]) # concat to 'mash' two df's together
    
new_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Fire,1,1,NaN,0,1,1,1,1,1,1,1,1,1
Grass,4,4,NaN,4,4,4,4,4,4,4,4,4,4
Fire,4,4,NaN,3,4,4,4,4,4,4,4,4,4
Water,1,1,NaN,0,1,1,1,1,1,1,1,1,1
Bug,2,2,NaN,0,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Fairy,1,1,NaN,0,1,1,1,1,1,1,1,1,1
Flying,2,2,NaN,2,2,2,2,2,2,2,2,2,2
Fire,1,1,NaN,1,1,1,1,1,1,1,1,1,1
Psychic,2,2,NaN,2,2,2,2,2,2,2,2,2,2
Rock,2,2,NaN,2,2,2,2,2,2,2,2,2,2